.App {
    text-align: center;
    min-height: 100vh;
}
.containerApp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 10px;
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 40px;
}

h1,
h2 {
    font-family: "PT Sans", sans-serif;
}
h2 {
    margin-block: 10px;
}

.divPokemon {
    display: flex;
    justify-content: space-evenly;
    column-gap: 35px;
    margin-top: 30px;
}

img {
    max-height: 280px;
    height: 100%;
    margin-inline: 10px;
}

.deadBadge {
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

.defeated {
    color: red;
}

.win {
    color: green;
    font-weight: bold;
}

hr.rounded {
    width: 70%;
    border-top: 1px solid #bbb;
    border-radius: 40px;
    opacity: 0.4;
}

@media screen and (max-width: 800px) {
    hr.rounded {
        width: 80%;
        border-top: 1px solid #bbb;
        border-radius: 40px;
        opacity: 0.4;
    }
}

@media screen and (max-width: 660px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    table {
        font-size: 13px;
    }

    img {
        max-height: 300px;
    }
}

@media screen and (max-width: 560px) {
    img {
        max-height: 200px;
    }

    h2 {
        font-size: 20px;
    }
}
