.App {
    text-align: center;
    min-height: 100vh;
}
.containerApp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 40px;
}

h1,
h2 {
    font-family: "PT Sans", sans-serif;
}

.divPokemon {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-block: 30px;
}

img {
    max-height: 35vh;
}

.deadBadge {
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

.defeated {
    color: red;
}

.win {
    color: green;
    font-weight: bold;
}

hr.rounded {
    width: 50%;
    border-top: 1px solid #bbb;
    border-radius: 40px;
    opacity: 0.4;
}

table {
    border-collapse: collapse;
    width: 60%;
    max-width: 700px;
    min-width: 400px;
    text-align: center;
    table-layout: fixed;
}

th,
td {
    height: 40px;

    padding: 4px;
    /* vertical-align: middle; */
}
